@font-face {
    font-family: minecraft;
    src: url("/public/MinecraftRegular.otf") format('opentype');
}

body {
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, p, a {
    color: white;
    font-family: minecraft;
}

p {
    margin-top: 50px;
    text-align: center;
}

.screen-container {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
}

.form-container {
    margin-top: 15vh;
    width: 250px;
    height: 300px;
    background-color: slateblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-element {
    margin-top: 15px;
}